html, body {
    height: 100%;
}
body{
    background-image: url("../Imagens/Configuracoes/background.png");
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    position: relative;
    min-height: 100%;
}

#wrapper.toggled {
    padding-left: 80px;
}

#sidebar-wrapper {
    position: fixed;
    left: 280px;
    z-index: 1000;
    overflow-y: auto;
    margin-left: -280px;
    width: 0;
    height: 100%;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 80px;
}

#page-content-wrapper {
    /*padding: 15px;*/
    margin-top: 50px;
    width: 100%;
    padding-bottom: 180px;
}

#wrapper.toggled #page-content-wrapper {
    /*position: absolute;*/
    margin-right: -80px;
}

/* Sidebar */

.sidebar-nav {
    position: absolute;
    top: 0;
    margin: 0;
    padding: 0;
    width: 0px;
    list-style: none;    
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#wrapper.toggled #sidebar-wrapper>.sidebar-nav{    
    width: 80px;
}
/*stylo das letras do menu*/
.sidebar-nav li {
    /*identa o texto, adicionando um espaço no inicio*/
    /*text-indent: 20px;*/
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    color: #999999;
    text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    background: none;
    color: #fff;
}
/*menu lateral*/
nav.navbar {
    margin-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

nav.toggled {
    margin-left: 80px;
}
#wrapper.toggled #sidebar-wrapper>.sidebar-nav>li>a.botao,
#wrapper.toggled #sidebar-wrapper>.sidebar-nav>li>.btn-submenu>li>a{
    margin-left: 0px !important;
    margin-right: 0px !important;
}
#wrapper.toggled #sidebar-wrapper .sidebar-nav li a{
    padding: 20px 10px;
    font-size: 0.85em;
}
#wrapper.toggled #sidebar-wrapper .sidebar-nav li a i{
     margin-right:  0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}
@media (min-width: 768px) {

    .sidebar-nav {
        width: 280px;
    }
    #wrapper {
        padding-left: 280px;
    }

    #wrapper.toggled {
        padding-left: 80px;
    }

    nav[class^="navbar navbar-inverse navbar-fixed-top"] {
        margin-left: 280px;
    }

    nav[class^="navbar navbar-inverse navbar-fixed-top toggled"] {
        margin-left: 80px;
    }

    #sidebar-wrapper {
        width: 280px;
    }

    #wrapper.toggled #sidebar-wrapper,
    #wrapper.toggled #sidebar-wrapper>.sidebar-nav {
        width: 80px;
    }
    #wrapper.toggled #sidebar-wrapper>.sidebar-nav>li>a>img{
        display: none;
    }
    #page-content-wrapper {
        /*padding: 20px;*/
    }

    #wrapper.toggled #page-content-wrapper {
        /*position: relative;*/
        margin-right: 80px;
    }
}