/*Thema cor Laranja */
/*Campo de busca do nav topo*/

/* nav configurações*/
#nav-config{    
    background: #e57803;
}
#voltar{
    
    background: #fd921f;
}
#voltar:hover{
    
    background: #FF9933;
}

.pagination>.active>a:hover,
.pagination>.active>a:focus{
    background-color: #FF9933;
    border-color: #FF9933;
}
.pagination>.active>a{
    background-color: #e57803;
    border-color: #e57803;
}
.app-search .form-control{
    background-color: #e57803 !important;    
}
.navbar .navbar-toggle {
    background-color: #e57803;
    border-color: #e57803;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:focus,
.navbar-inverse .navbar-nav > .open > a:hover {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    background-color: #e57803 !important;
    ;
}
.navbar,
.navbar .in {
    border-color: #FF9933;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    background-color: #FF9933;
    border-color: #FF9933;
}
#topnav {
    background-color: #fd921f;
}

.sidebar-nav > li > a.botao:focus,
.sidebar-nav > li > a.botao:hover,
.btn-submenu > li > a:focus,
.btn-submenu > li > a:hover {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    text-decoration: none;
    background-color: #FF9933;
    color: black;
}
#sidebar-wrapper {
    background-color: #e57803;
}

.info-produto {
    color: #e57803;
}

.btn-custom {
    background-color: #fd921f !important;
    color: white !important;
}
.btn-custom:hover,
.btn-custom:focus {
    background-color: #FF9933 !important;
    color: black !important;
}

.item-venda:hover,
.item-produto > img,
.preco-produto {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    border-top: 10px;
    border-right: 10px;
    background: transparent;
    border-radius: 5px;
    padding: 10px;
    /* box shadow */
    box-shadow: 0 1px 3px 1px #FF9933;
}
.btn-encomendar:hover,
.btn-encomendar:focus,
.btn-encomendar > li > a:focus,
.btn-encomendar > li > a:hover {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    text-decoration: none;
    background-color: #FF9933;
}

.cabecalho > h1 {
    background: #FF9933;
    color: white;
}

.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    background-color: #fd921f;
}

.sidebar-nav > li > a.botao,
.btn-submenu > li > a {
    background-color: #fd921f;
    margin-top: 5px;
    margin-left: 33px;
    margin-right: 33px;
}
.btn-encomendar {
    background-color: #fd921f;
    bottom: 0px;
}

/* Maps */
#maps {
    height: 400px;
    background-color: #fd921f;
    margin-bottom: 15px;
    margin-top: 15px;
}
.carousel-inner{
    background-color: #fd921f;
}
.infoProduto{
    color: #fd921f;
}
#progresso li.ativo:before,
#progresso li.ativo:after{
    background-color: #fd921f !important;
}
.contornoDiv{
    /* box shadow */
    box-shadow: 0 1px 3px 1px #fd921f !important;
}